<?xml version="1.0" encoding="UTF-8"?>


<!-- configuration 요소를 log4j의 설정의 가장 최상위 요소이다. -->
<configuration status="DEBUG">
    <!-- 로그의 추력 위치를 정하는 요소이다(콘솔, 파일, DB 등등) -->
    <Appenders>
        <!-- 콘솔에 로그 메시지를 출력한다. -->
        <console name="console" target="SYSTEM_OUT">
            <!-- 로그의 출력포맷을 지정한다. -->
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{5} %M - %msg - %n"/>
        </console>
                
        <!-- 파일에 로그 메시지를 출력한다. -->
        <file name="member_log_file" fileName="./logs/member_log.txt">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{5} %M - %msg - %n"/>
        </file>
        <file name="board_log_file" fileName="./logs/board_log.txt">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{5} %M - %msg - %n"/>
        </file>
        
    </Appenders>
    
    <!-- 로깅이 일어나는 부분을 그룹화 하는 역할을 한다. -->
    <Loggers>
        <!-- 일반적인 로그정책을 의미한다. -->
        <!-- FATAL > ERROR > WARN > INFO > DEBUG > TRACE -->
        <!-- 치명적 오류 -> 가벼운 이벤트 -->
        <Root level="DEBUG">
            <AppenderRef ref="console"/>
        </Root>
        
        <!-- 추가로 필요한 로그 정책을 정의한다. -->
        <Logger name="com.kh.mybatis.member" level="DEBUG">
            <AppenderRef ref="member_log_file" />
        </Logger>
        <Logger name="com.kh.mybatis.board" level="DEBUG">
            <AppenderRef ref="board_log_file" />
        </Logger>
    </Loggers>
</configuration>