<?xml version="1.0" encoding="UTF-8"?>
<!-- Mybatis 설정 파일임을 선언 -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
  
 <configuration>
    <!--  필요한 설정들을 작성한다. -->
    <properties resource="driver.properties"/>
    
    <!-- 마이바티스와 관련된 설정을 선언하는요소 -->
    <settings>
        <!-- 파라미터의 null 값에대한 JDBC 타입을 지정한다. -->
        <setting name="jdbcTypeForNull" value="NULL"/>    
    </settings>
    
    <typeAliases>
        <typeAlias type="com.kh.mabatis.member.model.vo.Member" alias="Member"/>
        <typeAlias type="com.kh.mabatis.board.model.vo.Board"   alias="Board"/>
        <typeAlias type="com.kh.mabatis.board.model.vo.Reply"   alias="Reply"/>
    </typeAliases>    
    
    <!-- DB 에 연결할 설정 정보들을 선언하는 요소 -->
    <environments default="web">
        <environment id="web">
            <!-- 트랜잭션을 제어하기 위한 설정 -->
            <transactionManager type="JDBC"/>
            <!-- DB 접속에 대한정보를 설정하는 요소 -->
<!--             <dataSource type="POOLED"> -->
<!--                 <property name="driver"   value="oracle.jdbc.driver.OracleDriver"/> -->
<!--                 <property name="url"      value="jdbc:oracle:thin:@localhost:1521:xe"/> -->
<!--                 <property name="username" value="C##WEB"/> -->
<!--                 <property name="password" value="WEB"/> -->
<!--             </dataSource> -->
            <dataSource type="POOLED">
                <property name="driver"   value="${db.driver}"/>
                <property name="url"      value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!-- Mapper 파일을 등록하는 요소 -->
    <mappers>
        <mapper resource="mappers/member/member-mapper.xml"/>
        <mapper resource="mappers/board/board-mapper.xml"/>
    </mappers>
 </configuration>