<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.opendata.weather.model.mapper.WeatherMapper">
    <resultMap  id="courseResultMap"  type="Course">
        <id     property="courseId"   column="COURSE_ID"/>
        <result property="courseName" column="COURSE_NAME"/>
    </resultMap>
    <resultMap  id="cityResultMap"    type="City">
        <id     property="cityId"     column="CITY_ID"/>
        <result property="cityName"   column="CITY_NAME"/>
    </resultMap>

    <select id="selectCourses" resultMap="courseResultMap">
        SELECT COURSE_ID,
               COURSE_NAME
          FROM TB_COURSE
         ORDER BY COURSE_NAME ASC
    </select>
    <select id="selectCities" resultMap="cityResultMap">
        SELECT CITY_ID,
               CITY_NAME
          FROM TB_CITY
         ORDER BY CITY_NAME ASC
    </select>
</mapper>