/* 
    처리할 문제점: 
    2. 테이블 안쪽 간격 늘리기
    4. 설명글을 더보기 버튼으로 늘이고 줄이기 -> 기능인가
*/

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    font-family: 'NanumBarunGothic', sans-serif;
    line-height: 22px;
}


main section {
    width: 100%;
}

.mv-movie-detail {
    position: relative;
    background-color: #0F0F0F;
    min-width: 1100px;
    height: 520px;
}

.mv-div-black * {
    color: white;
}

.mv-div-black {
    margin: auto;
    width: 1100px;
    height: 100%;
    background-blend-mode: multiply;
    background: url('https://img.megabox.co.kr/SharedImg/2023/10/25/UEatauRh0hZO3UZSo07PnHebGTskbXCY_1100.jpg') 
                no-repeat top/cover, rgba(0, 0, 0, 0.7);
}

.mv-div1 {
    position: relative;
    display: inline-block;
    width: 60%;
    height: 100%;
}


.mv-kr-name {
    font-size: 45px;
    margin: 0px;
    margin-top: 80px;
}

.mv-eng-name {
    font-size: 20px;
    margin: 5px;
    margin-left: 0;
}

.mv-btn-util {
    padding-top: 10px;
    display: flex;
}

.mv-btn-black {
    min-width: 100px;
    background-color: black;
    border-radius: 5px;
    border: 1px solid gray;
    display: flex;
    height: 34px;
    padding: 0 10px;
}

.mv-btn-black > span {
    margin: auto;
    font-size: 15px;
}
.mv-span-likescore {
    line-height: 33px;
}

.mv-btn-util :last-child {
    margin-left: 10px;
}

.mv-btn-black:hover {
    background-color: white;
}

.mv-btn-black:hover span {
    color: black;
}

.mv-icon {
    margin-top: 5px;
}


main table {
    position: absolute;
    bottom: 50px;
}

main th {
    font-weight: lighter;
    text-align: left;
}



main thead {
    height: 40px;
}

main tr>:not(:first-child) {
    padding-left: 20px;
}


main em {
    font-style: normal;
    font-size: 30px;
    padding: 0;
}

.mv-div2 {
    float: right;
    width: 30%;
    height: 100%;
}

.mv-poster {
    position: relative;
    margin: auto;
    margin-top: 40px;
    width: 260px;
    height: 374px;
}

.mv-poster>img {
    width: 100%;
    border-radius: 10px;

}

.mv-movie-age {
    position: absolute;
    top: 5px;
    left: 5px;
}

.mv-download-poster {
    position: absolute;
    top: 5px;
    right: 5px;
}


.mv-ticketing {
    background-color: darkred;
    width: 260px;
    height: 46px;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-top: 10px;
    border-style: none;
    font-size: 1.3em;
    font-weight: bold;
    
}

/* 주요 정보 섹션 */

.mv-sec1 {
    width: 1100px;
    margin: auto;
}

main nav {
    margin-top: 20px;
    position: relative;
}

main nav>ul {
    list-style: none;
    width: 1100px;
    margin: auto;
    padding-left: 0;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

main nav>ul li {
    width: 100%;
    border: 1px solid black;
    height: 100%;
}

.mv-first {
    border-top: 1px solid #AF2D2D;
    border-left: 1px solid #AF2D2D;
    border-right: 1px solid #AF2D2D;
    border-bottom: none;    
}

.mv-second {
    border-top: 1px solid #EBEBEB;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #AF2D2D;
}

.mv-last {
    border-top: 1px solid #EBEBEB;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    border-bottom: 1px solid #AF2D2D;
}





main nav>ul li:nth-child(2) {
    margin: 0 -1px;
}

main a {
    display: block;
    text-decoration: none;
    color: black;
    height: 100%;
    text-align: center;
    line-height: 2.5em;
}

.mv-large-p {
    clear: both;
    font-size: 25px;
}

.mv-small-p {
    margin: 1px;
    height: 65px;
    overflow: hidden;
}


.mv-movie-info {
    box-sizing: border-box;
    
}

.mv-sec1 > div > div p:not(:first-child) {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
}


.mv-movie-info p {
    display: inline-block;
    
}



/* 동영상 섹션 */

.mv-sec2 {
    width: 1100px;
    margin: auto;
    height: 800px;
}

.mv-movie-videotag {
    height: 50px;
}

.mv-movie-videotag p {
    float: left;
    font-size: 14px;
}

.mv-movie-videotag p:last-child {
    padding-left: 20px;
}

.mv-bold-hr {
    border-color: black;
    border-style: solid;
}

.mv-video-name {
    font-size: 20px;
    font-weight: bold;
}

.mv-thin-hr {
    border-color: #eaeaea;
    border-style: solid;
}

div[class="swiper mySwiper2"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}


div[class="swiper mySwiper2"] span{
    display: block;
}

div[class="swiper mySwiper2"] .swiper-slide {
    margin: auto;
    width: 800px;
    display: flex;
    justify-content: center;
}

main video {
    width: 800px;
    margin-left: 150px;
}

.swiper-button-next  {
    text-align: center;
    flex-direction: column;
}

.swiper-button-prev {
    text-align: center;
    flex-direction: column;
    width: 200px;
}
.swiper-button-prev::after {
    display: none;
}
.swiper-button-next::after {
    display: none;
}

/* 동영상 리스트 */

div[class="swiper mySwiper"] {
    margin-top: 40px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div[class="swiper mySwiper"] .swiper-slide {
    width: 210px;
    height: 100%;
}


div[class="swiper mySwiper"] .swiper-slide div {
    height: 100%;
    background-color: #0F0F0F;
}

.swiper-slide img {
    width: 100%;
    
}



div[class="swiper mySwiper"] .swiper-slide:nth-child(2) {
    border: 5px solid #AF2D2D;
}



main button {
    cursor: pointer;
    
}


.mv-btn-more {
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 35px;
    border: none;
    border-bottom: 1px solid #eaeaea;
    background-color: white;
}

.mv-btn-more:hover {
    border-bottom: 1px solid #444;
    background-color: white;
}

.mySwiper .swiper-slide-thumb-active img {
    border: 5px solid red;
}


/* 스틸컷 섹션 */
.mv-sec3 {
    width: 1100px;
    margin: auto;
}


.mv-container img {
    width: 260px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
}

.grid-item { 
    float: left;
    width: 270px; 
}


main button {
    cursor: pointer;
    
}


.mv-btn-more {
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 35px;
    border: none;
    border-bottom: 1px solid #eaeaea;
    background-color: white;
}

.mv-btn-more:hover {
    border-bottom: 1px solid #444;
    background-color: white;
}


