@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
*{
    margin:0; 
    padding: 0; 
    box-sizing: border-box;
    overflow: hidden;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #444;
}
html {
    -webkit-text-size-adjust: 100%;
    display: block;
}
body {
    overflow: auto;
    overflow-y: scroll;
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 15px;
    color: #444;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}
.signup4 {
    height: 100%;
}
div{
    display: block; /**/
}
.h1{
    margin: 67em;
}
.member-wrap {
    width: 710px;
    min-height: 100%;
    margin: 0 auto;
    padding: 80px 100px;
    background-color: #fff;
}
.member-wrap .logo {
    display: block;
    padding: 0 0 70px 0;
}
#logo {
    display: block;
    width: 140px;
    height: 47px;
    margin: 0 auto;
    font-size: 0;
    line-height: 0;
    background: url(https://i.ibb.co/grsGs7C/Logo-Transparent.png) center no-repeat;
    background-size: contain;
}
/* 상단바 */
.step-member{
    border-bottom: 1px solid #ebebeb;
    width: 510px;
    margin: 0 0 40px 0;
    position: relative;
}
.step-member ol{
    list-style: none;
    width: 510px;
}
.step-member ol li {
    padding: 0;
    float: left;
}
.member-wrap .step-member ol li:first-child {
    margin-left: 0;
}
.member-wrap .step-member ol li {
    margin: 0 0 0 46px;
    text-align: center;
    font-size: .866em;
}
.member-wrap .step-member ol li .step.on {
    border-bottom: 2px solid #6D3030;
    color: #6D3030;
}
.member-wrap .step-member ol li .step {
    margin: 0;
    padding: 0 0 15px 0;
    font-size: .9333em;
    letter-spacing: 0;
}

/* 회원가입 완료 */
.join-complete {
    display: block;
    width: 510px;
    height: 270px;
    padding: 30px 0;
    text-align: center;
}
.icon-complete {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100px;
    height: 100px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/member/ico-join-complete.png);
}
.join-complete .name {
    padding: 30px 0 0 0;
    color: #6D3030;
    font-size: 1.4666em;
}
.join-complete .txt {
    padding: 10px 0 15px 0;
}
/* 하단버튼 */
/* 하단버튼 */
.member-wrap .agree-btn-bottom {
    padding: 40px 0 0 0;
    text-align: center;
}
.button{
    border-radius: 4px;
}
.button.red {
    color: #fff;
    line-height: 36px;
    border: 0;
    background: #6D3030;
    cursor: pointer;
}
#btnagreebottom {
    border: 0;
    width: 200px;
    height: 45px;
    padding: 0;
    font-size: 20px;
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
}