<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>시군구별 관광기후지수 데이터 조회</title>
<script th:src="@{/js/jquery-3.7.1.js}"></script>
</head>
<body>
    <h2>시군구별 관광기후지수 데이터 조회</h2>
    
    <span th:text="${#strings.toString(param.cityAreaId)}"></span>
    <form th:action="@{/weather/city}" method="GET">
        <label for="cityAreaId">시군구</label>
        <select name="cityAreaId" id="cityAreaId" th:with="cityAreaId=${#strings.toString(param.cityAreaId)}">
            <option th:each ="city: ${cities}" 
                    th:value="${city.cityId}" 
                    th:text="${city.cityName}"
                    th:selected="${city.cityId eq cityAreaId}"
                    >
            </option>
        </select>
        <input type="submit" value="검색"/>
    </form>

<!--     <table border="1" style="border-collapse: collapse;"> -->
<!--         <thead> -->
<!--             <th>시군구 이름</th> -->
<!--             <th>예보 시각</th> -->
<!--             <th>관광 기후지수</th> -->
<!--             <th>관광 기후지수 등급</th> -->
<!--         </thead> -->
<!--         <tbody> -->
<!--             <tr th:if="${response.weatherItems == null || response.weatherItems.empty}"> -->
<!--                 <td colspan="4">조회된 데이터가 없습니다.</td> -->
<!--             </tr> -->
<!--             <tr th:if="${response.weatherItems != null || !response.weatherItems.empty}" -->
<!--                 th:each="item : ${response.weatherItems}"> -->
<!--                 <td th:text="${item.cityName}"></td> -->
<!--                 <td th:text="${item.tm}"></td> -->
<!--                 <td th:text="${item.kmaTci}"></td> -->
<!--                 <td th:text="${item.tciGrade}"></td> -->
<!--             </tr> -->
<!--         </tbody> -->
<!--     </table> -->

    <table border="1" style="border-collapse: collapse;" th:with="items=${response.weatherItems}">
        <thead>
            <th>시군구 이름</th>
            <th>예보 시각</th>
            <th>관광 기후지수</th>
            <th>관광 기후지수 등급</th>
        </thead>
        <tbody>
            <tr th:if="${items == null || items.empty}">
                <td colspan="4">조회된 데이터가 없습니다.</td>
            </tr>
            <tr th:if="${items != null || !items.empty}"
                th:each="item : ${items}">
                <td th:text="${item.cityName}"></td>
                <td th:text="${item.tm}"></td>
                <td th:text="${item.kmaTci}"></td>
                <td th:text="${item.tciGrade}"></td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>