<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>동네예보 데이터 조회</title>
<script th:src="@{/js/jquery-3.7.1.js}"></script>
</head>
<body>
<h2>동네예보 데이터 조회</h2>
<label for="courseId">코스명 : </label>
<select id="courseId">
    <option th:each="course: ${courses}" th:value="${course.courseId}" th:text="${course.courseName}"></option>
</select>
<br>
<br>
<table border="1" style="border-collapse: collapse;">
    <thead>
    <tr>
        <th style="padding:5px;">관광지 이름</th>
        <th style="padding:5px;">지역</th>
        <th style="padding:5px;">테마</th>
        <th style="padding:5px;">예보 시간</th>
        <th style="padding:5px;">기온(일 3시간)</th>
        <th style="padding:5px;">강수 확률</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6" align="center" style="padding:5px;">조회된 데이터가 없습니다.</td>
        </tr>
    </tbody>
</table>
<br>
<button id="prevPage">이전</button>
<span   id="currentPage">0</span>/<span id="lastPage">0</span>
<button id="nextPage">다음</button>


<script>
function showList(pageNo, courseId) 
{
    console.log(`pageNo : ${pageNo} , courseId : ${courseId}`);
    
    $.getJSON('/weather/vilages', {pageNo, courseId}).done((data)=>
    {
        let result = '';
        let {pageNo, numOfRows, totalCount, items} =  data.response.body;
        let {item} =  items;
    
        item.forEach(element => {
            result += `<tr>
                            <td style="padding:5px;">${element.spotName}</td>
                            <td style="padding:5px;">${element.spotAreaName}</td>
                            <td style="padding:5px;">${element.thema}</td>
                            <td style="padding:5px;">${element.tm}</td>
                            <td style="padding:5px;">${element.th3}℃</td>
                            <td style="padding:5px;">${element.pop}%</td></tr>`;
        });
    
        $('table>tbody').empty();
        $('table>tbody').append(result);
        $('#currentPage').text(pageNo);
        $('#lastPage').text(Math.ceil(totalCount/numOfRows));
    });
    
    
}
$(document).ready(()=>
{
	showList(1, $('#courseId').val());
	
	$('#courseId').on('change', showList(1, $('#courseId').val()));
	
	$('#prevPage').on('click', ()=>{
        let prevPage = Number.parseInt($('#currentPage').text()) - 1;
        let lastPage = Number.parseInt($('#lastPage').text());
        
        prevPage = prevPage > 0 ? prevPage  : 1;
        
        showList(prevPage, $('#courseId').val());
	});
	
	$('#nextPage').on('click', ()=>{
		let nextPage = Number.parseInt($('#currentPage').text()) + 1;
		let lastPage = Number.parseInt($('#lastPage').text());
		
		nextPage = nextPage > lastPage ? lastPage : nextPage;
		
		showList(nextPage, $('#courseId').val());
	});
})


</script>
</body>
</html>