@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

element.tk-style {
    padding-top: 40px;
    padding-bottom: 100px;
}


* {
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    overflow: auto;
    overflow-y: scroll;
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 15px;
    color: #444;
    font-weight: 400;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

/* body 중 메뉴바 */
.tk-page-util {
    display: block;
    position: static;
    width: 100%;
    height: 42px;
    background-color: #f8f8fa;
}

.tk-inner-wrap {
    width: 1100px;
    margin: 0 auto;
}

.tk-page-util .tk-location a {
    font-size: 15px;
    font-weight: 400;
    display: block;
    position: relative;
    float: left;
    height: 42px;
    margin: 0 0 0 25px;
    padding: 0;
    line-height: 46px;
    color: #666;
}

.tk-page-util .tk-location a:hover{
    text-decoration: underline;
    font-size: 15px;
    font-weight: 400;
    display: block;
    position: relative;
    float: left;
    height: 42px;
    margin: 0 0 0 25px;
    padding: 0;
    line-height: 46px;
    color: #666;
}

.tk-page-util .tk-location span {
    overflow: hidden;
    display: block;
    float: left;
    width: 13px;
    height: 100%;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    text-indent: -9999px;
    background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-home.png) no-repeat center;
}

.tk-page-util .tk-location a:before, .tk-page-util .tk-location span .tk-no-link:before {
    content: '';
    display: block;
    position: absolute;
    left: -14px;
    top: 0;
    width: 5px;
    height: 42px;
    background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-arr.png) no-repeat left center;
}

/*a:visited {*/
/*    color: #666;*/
/*    text-decoration: none;*/
/*    outline: 1px dotted #000;*/
/*}*/

/* body */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    /* margin-block-start: 0.83em; */
    /* margin-block-end: 0.83em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


h2.tk-tit {
    padding: 0 0 26px 0;
    font-size: 1.8666em;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.1;
    color: #222;
}

.tk-inner-wrap {
    width: 1100px;
    margin: 0 auto;
}

.tk-inner-wrap:after {
    clear: both;
}

.tk-inner-wrap:after, .tk-inner-wrap:before {
    content: '';
    display: table;
}

.tk-seat-select-section .tk-seat-section {
    float: left;
    width: 770px;
    height: 556px;
    border-top: 1px solid #000;
    background-color: #fff;
}

.tk-seat-select-section .tk-seat-section .tk-tit-util {
    padding: 8px 0 7px 0;
}

.tk-seat-select-section .tk-seat-section .tk-tit-util .tk-tit {
    padding: 0;
    line-height: 32px;
}

h3.tk-tit {
    margin: 0;
    padding: 0 0 16px 0;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1.1;
}

h3.tk-tit.tk-small {
    padding: 0 0 10px 0;
    font-size: 1.2em;
    color: #222;
}

h3 {
    display: inline-block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.tk-tit-util .tk-right {
    float: right;
    
}

.tk-button {
    display: inline-block;
    height: 36px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    line-height: 34px;
    color: #6D3030;
    font-weight: 400;
    border-radius: 4px;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
    text-decoration: none;
    border: 1px solid #6D3030;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
}

.tk-button.tk-gray-line.tk-small {
    line-height: 32px;
}

.tk-button.tk-gray-line {
    color: #444;
    line-height: 36px;
    border: 1px solid #c1c1c1;
    background-color: #fff;
}

.tk-button.small {
    height: 32px;
    padding: 0 12px;
    line-height: 30px;
    font-size: .9333em;
}

.tk-button>i:first-child {
    margin-left: 0;
    margin-right: 4px;
}

.tk-button>i {
    margin-top: -2px;
    margin-left: 4px;
}

.tk-ico-reset-small {
    width: 14px;
    height: 14px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-reset-small.png);
}

.tk-iconset {
    overflow: hidden;
    display: inline-block;
    margin: -1px 0 0 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.tk-seat-count{
    background-color: #f2f4f5;
    width: 770px;
    height: 53px;
    border: 1px solid #d8d9db;
    border-bottom: 0px;
}

.tk-txt {
    float: left;
    line-height: 43px;
    display: inline-block;
    padding: 0px 10px 0px 20px;
    margin: 0;
    height:39px;
}

.tk-counter-group{
    float: left;
    width: 106px;
    padding-top: 5px;
    
}

.tk-counter{
    position: relative;
    float: left;
    width: 42px;
    height: 32px;
    text-align: center;
    padding-top:7px;
}
.tk-btn-minus, .tk-btn-plus {
    height: 32px;
    width: 34px;
    float: left;
    font-size: 18px;
    padding-bottom: 7px;
    margin: 0px -1px ;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.tk-btn-minus, .tk-btn-plus, .tk-counter { 
    background-color: #fff;
    border: 1px solid #ccc;

}

.tk-btn-plus { 
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
}

.tk-btn-minus { 
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.tk-cell{
    float: left;
    margin-left: 54px;
}
.tk-seat-count{
    padding:5px;
}

.tk-seat-body {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 452px;
    border: 1px solid #d8d9db;
}

.tk-screen-span{
    display: flex;
    justify-content: center;
}

.tk-seat-container {
    padding-top: 15px;
    width: 53%;
    margin: 0 auto;
}

.tk-seat {
    clear: both;
    padding-top:5px;
}

.tk-line {
    width: 20px;
    height: 20px;
    text-align:center;
    border: 1px solid #ccc;
    font-size: 12px;
    margin-right: 10px;
    background-color: white;
    float:left;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}

.tk-seat-click { 
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    padding:0;
    text-align: center;
    float: left;
    margin: 0 2px;
    overflow: hidden;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
    background-image : url(../img/bg-seat-common.png);
    border: 1px solid #6D3030;
}
.tk-seat-click.choiced { 
    background-image : url(../img/bg-seat-choice.png);
}


.tk-seat-end {
    margin-bottom: 10px;
    
}

/* 오른쪽 검은색 상자  */

.tk-black-box {
    width: 310px;
    height: 554px;
    background-color: #000;
    margin: 0px 0px 0px 790px;
    background-color: #333;
    border-radius: 10px;
    
}

.tk-choice-box {
    padding: 10px 10px 0px 20px;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;

}

.tk-bb-title {
    display: block;
    width: 270px;
    height: 48px;
    border-bottom: 1px solid #434343;
    margin-top: 8px; 
}

.tk-bb-info {
    width: 270px;
    height: 121px;
    border-bottom: 1px solid #434343;
    margin-bottom: 10px;
}

.tk-choice-seat {
    border: 1px solid #434343;
    width: 270px;
    height: 210px;
    border-radius: 5px;
    display: flex;
}

.tk-choice-person {
    width: 270px;
    height: 20px;
    margin-top: 35.8px;
    margin-bottom: 4.7px;
    color: #c4c4c4;;
    font-size: 15px;
}

.tk-pay {
    width: 270px;
    height: 35px;

}

.tk-tit-age-img {
    float: left;
    background-image: url(../img/12_40x40.png);
    width: 20px;
    height: 20px;
    background-size: 20px;
}

.tk-title {
    font-size: 17px;
    display: flex;
    color: white;
    padding-left: 7px;
    
}

.tk-sub-title {
    color: #AAAAAA;
    font-size: 13px;
    margin-left: 25px;
}

.tk-info-one{
    margin-top: 10px;
    color: #c4c4c4;
    width: 50%;
    margin-bottom: 0px auto;
    display: inline-block;
    font-size: 13px;
}

.tk-info-two, .tk-info-three {
    margin: 0px;
    width:100px;
    height:20px;
    color: #c4c4c4;
    font-size: 13px;
    margin-top: 3px;
    overflow:hidden;
}


.tk-poster {
    float: right;
}

.tk-poster>img {
    width: 70px;
    height: 100px;
    margin: 10px 20px 0px 0px;
}

.tk-choice-seat-left {
    border-right: 1px solid #434343;
    width: 154px;
    height: 210px;
    padding: 10px 0px 0px 20px;
}

.tk-choice-seat-right {
    width: 116px;
    height: 230px;
}

.tk-seat-type {
    color: #c4c4c4;
    font-size: 13px;
    display: flex;
    margin-bottom: 8px;
    
}

.tk-seat-type div{
    margin-left: 5px;
}

.tk-select-seat {
    color: #c4c4c4;
    text-align: center;
    padding-top: 7px;
    font-size: 13px;
    height: 30px;
}

.tk-my-seat{
    width: 116px;
    height: 168px;
    padding: 0px 14px;
    text-align: center;
}

.tk-choice-seat-now {
    border: 1px solid #5c5c5c;
    width: 40px;
    height: 35px;
    margin-top: 7px;
    display: inline-block;
    margin-bottom: -8px;
    font-family: Roboto,Dotum,'돋움',sans-serif;
    color: #fff;
    font-size: 13px;
    overflow-y:hidden;
    text-align: center;
    padding: 6px 0;
}
.tk-choice-seat-now.enabled {
    background-color: #53565b;
}
.tk-choice-seat-now.enabled.choiced {
    background-color: #6D3030;
}


.tk-btn-group {
    z-index: 1;
    padding: 0 auto;
    width: 310px;
    height: 40px;
    display: flex;
    color: white;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.tk-titleImg {
    background-image: url(../img/check-box.png);
    width: 28px;
    height: 28px;
    margin: 10px 0 7px 20px;
    display: inline-block;
}
.tk-titleImg.checked {
    background-image: url(../img/bg-check-box.png);
    width: 28px;
    height: 28px;
    margin: 10px 0 7px 20px;
    display: inline-block;
}

.tk-titleText{
    width: 120px;
    font-size: 18px;
    color: #f8f8fac9;
    font-weight: 400;
    margin: 0px auto;
    display: inline-block;
    margin: 3px 0px 0px 36px;
}

.tk-box {
    width: 270px;
    height: 38px;
    border-radius: 4px;
    margin-top: 5px;
    margin-left: 20px;
    border: 1px solid #434343;
    padding: 0 7px 0 7px;
}

.tk-boxText{
    color: #d8d9db;
    display: inline-block;
    font-size: 13px;
    margin-top: 9px;
    text-align: left;
}

.tk-box > a {
    float: right;
    margin-top: 9px;
    font-size: 14px;
    text-decoration: underline;
    color: #d8d9db;
}

.tk-previous-page{
    background-color: #53565B;
    width: 160px;
    height: 40px;
    border-bottom-left-radius:10px;
    padding: 10px 0;
    cursor:pointer;
}
.tk-previous-page:hover{
    cursor:pointer;
    background-color: #ae2c2f;
}

.tk-next-page{
    background-color: #53565B;
    width: 160px;
    height: 40px;
    border-bottom-right-radius: 10px;
    padding: 10px 0;
}
.tk-next-page.enabled{
    background-color: #ae2c2f;
    cursor:pointer;
}