<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./css/signup_4.css" rel="stylesheet">
    <script src="/jquery/jquery-3.7.1.js" ></script>
</head>
<body>
    <header></header>
    <section class="signup4">
        <div class="member-wrap">
            <!-- 로고 -->
            <div class="logo"><a href="https://megabox.co.kr/main" id="logo">Megabox lifetheather</a>
            </div>
            <!-- 상단바 -->
            <div class="col-wrap">
                <!--step1 본인인증, step2 약관동의, step3 정보입력, step4 가입완료 
                    단계 중 step3 본인인증 단계-->
                <div class="step-member">
                    <ol>
                        <li>
                            <p class="step">
                                <span>STEP1.본인인증</span>
                            </p>
                        </li>
                        <li>
                            <p class="step">
                                <span>STEP2.약관동의</span>
                            </p>
                        </li>
                        <li>
                            <p class="step">
                                <span>STEP3.정보입력</span>
                            </p>
                        </li>
                        <li>
                            <p class="step on">
                                <span>STEP4.가입완료</span>
                            </p>
                        </li>
                    </ol>
                </div>
                <!-- 회원가입 완료 -->
                <div class="join-complete">
                    <i class="icon-complete"></i>
                    <p class="name">아무개님 테라박스 가입을 환영합니다.</p>
                    <p class="txt">확인을 누르시면 메인페이지로 이동합니다.</p>
                </div>
                <!-- 신규혜택 버튼 -->
                <div class="agree-btn-bottom">
                    <button id="btnagreebottom" type="button" class="button red" disabled="disabled">확인</button>
                </div>
            </div>
        </div>
    </section>
<footer></footer>
</body>
</html>