<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./css/signup.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="member-wrap">
        <!-- 로고 -->
        <div class="logo"><a href="https://megabox.co.kr/main" id="logo">Megabox lifetheather</a>
        </div>
        <!-- 상단바 -->
        <div class="col-wrap">
            <!--step1 본인인증, step2 약관동의, step3 정보입력, step4 가입완료 
                단계 중 step1 본인인증 단계-->
            <div class="step-member">
                <ol>
                    <li>
                        <p class="step on">
                            <em>STEP1.</em>
                            <span>본인인증</span>
                        </p>
                    </li>
                    <li>
                        <p class="step">
                            <em>STEP2.</em>
                            <span>약관동의</span>
                        </p>
                    </li>
                    <li>
                        <p class="step">
                            <em>STEP3.</em>
                            <span>정보입력</span>
                        </p>
                    </li>
                    <li>
                        <p class="step">
                            <em>STEP4.</em>
                            <span>가입완료</span>
                        </p>
                    </li>
                </ol>
            </div>




            <div class="signtitle">
                <h1 class="signh1">회원가입을 위한 가입확인 단계입니다.</h1>
            </div>
        </div>
    </div>
    <footer></footer>
</body>
</html>