div{
  text-align: center;
}
button{
  border:2px outset black;
  border-radius: 5px;
}
button:active{
  border:2px inset black;
  border-radius: 5px;
}
.btn-minus{
  background-color: cyan;
}
.btn-plus{
  background-color: magenta;
}
span{
  padding:10px;
}