<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.opendata.student.model.mapper.StudentMapper">
   <resultMap id="studentResultMap" type="Student">
      <id     property="no"               column="STUDENT_NO"/>
      <result property="deptNo"           column="DEPARTMENT_NO"/>
      <result property="name"             column="STUDENT_NAME"/>
      <result property="ssn"              column="STUDENT_SSN"/>
      <result property="address"          column="STUDENT_ADDRESS"/>
      <result property="entranceDate"     column="ENTRANCE_DATE"/>
      <result property="absenceYn"        column="ABSENCE_YN"/>
      <result property="coachProfessorNo" column="COACH_PROFESSOR_NO"/>
   </resultMap>
   
   <select id="selectAllByDeptNoAndAbsenceYn" parameterType="string" resultMap="studentResultMap">
      SELECT STUDENT_NO,
             DEPARTMENT_NO,
             STUDENT_NAME,
             STUDENT_SSN,
             STUDENT_ADDRESS,
             ENTRANCE_DATE,
             ABSENCE_YN,
             COACH_PROFESSOR_NO
      FROM TB_STUDENT
      WHERE DEPARTMENT_NO = #{deptNo}
      <if test="absenceYn != ''">
        AND ABSENCE_YN    = #{absenceYn}
      </if>
   </select>
   <delete id="deleteStudent" parameterType="string">
      DELETE FROM TB_STUDENT WHERE STUDENT_NO = #{studentNo}
   </delete>

</mapper>