/* 폰트 적용 소스코드 모음  */

@charset "UTF-8";

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');


/* 태그명 속성명 정리 */


body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
    overflow-y: scroll;
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 15px;
    color: #444;
    font-weight: 400;
    font-family: NanumBarunGothic, Dotum, '돋움', sans-serif;
}


* {
    box-sizing: border-box;
}


div {
    display: block;
}


html {
    -webkit-text-size-adjust: 100%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
}

a:link {
    color: #000;
    text-decoration: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}




/* 시멘틱 테그 레아아웃모음 */

.qt-body-by {
    height: 100%;
    padding: 0;
}


#qt_header_by {
    position: relative;
    z-index: 100;
    height: 91px;
    background: rgba(109, 48, 48, 1);
}

.qt-main-by {
    min-width: 1100px;
    min-height: 100%;
    margin: -92px 0 -200px 0;
    padding: 92px 0 200px 0;
}

.qt-submenu-by {
    display: block;
    position: static;
    height: 42px;
    background-color: #f8f8fa;
}

.qt-mainarea-by {
    width: 1100px;
    margin: auto;
}

#qt_sidebar-area_by {
    margin-top: 60px;
    right: 400px;
    float: left;
    width: 200px;
    height: 600px;
    background-color: #fff;
}

#qt_contents_by {
    float: right;
    width: 840px;
    /*height: 752px;*/
    padding-top: 40px;
    margin-bottom: 30px;
}

#qt_footer_by {
    position: relative;
    min-width: 1000px;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-color: #f8f8fa;
}



/* 서브헤더 메인영역*/

.qt-submenu-area-by {
    width: 1100px;
    margin: 0 auto;
    height: 42px;
}

/* 서브 헤더 위치안내 영역 */

.qt-submenu-area-by .qt-submenu-areaname-by {
    float: left;
    height: 42px;
    width: 230px;
}

/* 홈 아이콘 */
.qt-submenu-areaname-by span {
    overflow: hidden;
    display: block;
    float: left;
    width: 20px;
    height: 95%;
    margin: 0;
    padding-left: 5px;
    background: url(../img/bg-location-home.png) no-repeat center;
}

/* 홈에서 고객센터로 안내 아이콘 */
.qt-submenu-area-by #qt_submenuname_by::before {
    content: '';
    display: block;
    position: absolute;
    left: -12px;
    margin-left: 16px;
    top: 0;
    width: 8px;
    height: 42px;
    background: url(../img/bg-location-arr.png) no-repeat left center;
}

/*  고객센터에서 고객센터 홈으로 안내 아이콘 */
.qt-submenu-area-by #qt_submenuname1_by::before {
    content: '';
    display: block;
    position: absolute;
    left: 1px;
    margin-left: 0px;
    top: -1;
    width: 8px;
    height: 42px;
    background: url(../img/bg-location-arr.png) no-repeat left center;
}

/* 고객센터 이름영역 */
#qt_submenuname_by {
    display: inline;
    position: relative;
    float: left;
    height: 40px;
    width: 80px;
    margin: 0 0 0 0px;
    padding: 0;
    line-height: 42px;
    color: #666;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
}

/* 고객센터 홈 이름 영역 */
#qt_submenuname1_by {
    display: inline;
    position: relative;
    float: left;
    height: 40px;
    width: 77px;
    left: -15px;
    margin: 0 0 0 0px;
    padding: 0;
    line-height: 42px;
    color: #666;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
}

/* 사이드바 속성영역 */

/* 고객센터 홈 텝 영역 */
#qt_sidebar-area_by .qt-sidebar-each-by {
    overflow: hidden;
    margin: 0%;
    padding: 0%;
    border-radius: 10px 10px 0 0;
}

/* 고객센터 홈 텍스트 영역 */
#qt_sidebar-area_by .qt-sidebar-each-by a {
    display: block;
    font-size: 20px;
    font-weight: 100px;
    line-height: 400%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-align-last: center;
    background-color: rgba(109, 48, 48, 1);
    height: 80px;
    font-weight: 500 !important;
}

/* 사이드바 테두리 영역 */
#qt_sidebar-area_by>ul {
    border: 1px solid #d8d9db;
    border: 1px solid #d8d9db;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-radius: 0 0 5px 5px;
}

/* 사이드바 내부 영역 */
#qt_sidebar-area_by>ul>li>a {
    display: block;
    padding: 10px 15px;
    font-weight: 500;
    background-color: #f2f4f5;
    color: #000;
}

#qt_sidebar-area_by>ul>li>a:hover {
    display: block;
    color: rgb(185, 5, 5);
}

/* 사이드바 내부 테두리 영역 */
#qt_sidebar-area_by>ul>li {
    border-top: 1px solid #d8d9db;

}

#qt_sidebar-area_by ul li .qt-third-text-by {
    color: #000;
    font-weight: 400;
    background: #fff url(../img/Group\ 74.png) no-repeat right center;
}

/* 사이드바 내부 정보 안내 */
#qt_sidebar-area_by .qt-info-by {
    position: relative;
    z-index: 2;
    margin: -4px 0 0 0;
    padding: 20px 21px;
    color: #666;
    border: 2px solid #d8d9db;
    border-top-width: 1px;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
}

#qt_sidebar-area_by .qt-info-by .qt-sidebar-each-by {
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-image: none;
}

#qt_sidebar-area_by .qt-info-by p {
    margin: 0;
    padding: 0;
}

#qt_sidebar-area_by .qt-sidebar-each-by {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#qt_sidebar-area_by .qt-info-by .qt-sidebar-each-by span {
    display: block;
    position: relative;
    padding: 0 0 10px 0;
    font-family: Roboto;
    font-weight: 300;
}

#qt_sidebar-area_by .qt-info-by .qt-time-by {
    padding: 5px 0 0 0;
    font-family: Roboto;
    font-weight: 300;
}

#qt_sidebar-area_by .qt-info-by p {
    margin: 0;
    padding: 0;
}


.qt-clock-by {
    overflow: hidden;
    width: 13px;
    height: 13px;
    background-image: url(../img/ico-clock.png);
}

.qt-iconset-by {
    overflow: hidden;
    display: inline-block;
    margin: -1px 0 0 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat;
}


/* 메인 영역 제목 영역 */
.qt-mainname-by {
    padding: 0 0 10px 0;
    font-size: 1.8666em;
    font-weight: 500;
    letter-spacing: -1px;
    height: -62px;
    color: #222;
    font-family: Roboto, Noto-sans, Nanum Barun Gothic;
}


/* 공지 태그 영역 */

.qt-tab-block-by {
    position: relative;
    width: 840px;
    height: 36px;

}

.qt-mb-30-by {
    margin-bottom: 30px !important;
}

.qt-tab-block-by:before {
    content: '';
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
    height: 1px;
    background-color: #d8d9db;
}

.qt-tab-block-by ul:after {
    clear: both;
}

.qt-tab-block-by ul:after,
.qt-tab-block-by ul:before {
    content: '';
    display: table;
}

.qt-tab-block-by ul li.hover:first-child,
.qt-tab-block-by ul li.qt-on-by:first-child {
    border-color: #555;
}

.qt-tab-block-by ul li.hover,
.qt-tab-block-by ul li.qt-on-by {
    border-color: #555;
}

.qt-tab-block-by ul li:first-child,
.qt-tab-block-by ul li:nth-child(6) {
    border-left: 1px solid #d8d9db;
}

.qt-tab-block-by ul li {
    position: relative;
    float: left;
    width: 20%;
    border: 1px solid #d8d9db;
    border-left: 0;
}

.qt-tab-block-by.qt-small-by ul li .qt-btn-by {
    letter-spacing: -1px;
    font-size: 15px;
}

.qt-tab-block-by ul li.hover .qt-btn-by,
.qt-tab-block-by ul li.qt-on-by .qt-btn-by {
    color: #fff;
    background-color: #555;
}

.qt-tab-block-by ul li .qt-btn-by {
    display: block;
    width: 100%;
    height: 34px;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 34px;
    text-align: center;
    background-color: transparent;
    text-decoration: none;
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
}

button {
    cursor: pointer;
    letter-spacing: -.5px;
    font-weight: 400;
    font-family: NanumBarunGothic, Dotum, '돋움', sans-serif;
}

button,
select {
    text-transform: none;
}

button,
input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: 1em;
    line-height: 1.15;
}

.qt-tab-block-by ul li.hover, .qt-tab-block-by ul li.qt-on-by {
    border-color: #555;
}

.qt-tab-block-by ul li.hover .qt-btn-by, .qt-tab-block-by ul li.qt-on-by .qt-btn-by {
    color: #fff;
    background-color: #555;
}

button:focus {
    outline: 1px dotted #000;
}

.qt-tab-block-by ul li:last-child {
    border-right: 1px solid #d8d9db;
}

.qt-tab-block-by ul li .qt-btn-by:focus {
    color: #fff;
    background-color: #555;
}

.qt-board-list-util-by{
    margin: 30px 0 15px 0;
    text-align: right;
}

.qt-board-list-util-by {
    margin: 30px 0 15px 0;
    text-align: right;
}
.qt-board-list-util-by:after, .qt-board-list-util-by:before {
    content: '';
    display: table;
}

.qt-board-list-util-by:after {
    clear: both;
}
.qt-board-list-util-by:after, .qt-board-list-util-by:before {
    content: '';
    display: table;
}

.qt-board-list-util-by:after, .qt-board-list-util-by:before {
    content: '';
    display: table;
}

.qt-board-list-util-by {
    margin: 30px 0 15px 0;
    text-align: right;
}

b, strong {
    font-weight: 700;
}

.qt-board-list-util-by .qt-result-count-by {
    position: relative;
    float: left;
    margin: 0;
    padding-top: 12px;
    line-height: 1.1;
    vertical-align: top;
}

.qt-font-gblue-by {
    color: #01738b!important;
}

em {
    font-style: normal;
}
.qt-board-search-by {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 230px;
    height: 36px;
    margin: 0;
    margin-top: 2px;
    padding: 0 31px 0 0;
    border: 1px solid #d8d9db;
    border-radius: 3px;
}

.qt-board-search-by .qt-input-text-by {
    display: block;
    width: 100%;
    height: 33px;
    border: 0;
}

.qt-nput-text-by {
    display: inline-block;
    width: 100%;
    height: 32px;
    padding: 0 10px;
    line-height: 30px;
    color: #444;
    border: 1px solid #d8d9db;
    vertical-align: middle;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: 1em;
    line-height: 1.15;
}

input[type="text" i] {
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
}

.qt-board-search-by .qt-btn-search-input-by {
    position: absolute;
    right: 1px;
    top: 1px;
}

.qt-btn-search-input-by {
    overflow: hidden;
    width: 30px;
    height: 32px;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    border: 0;
    text-indent: -9999px;
    background: #fff url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-search-input.png) no-repeat center;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}


button {
    cursor: pointer;
    letter-spacing: -.5px;
    font-weight: 400;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: 1em;
    line-height: 1.15;
}

.qt-board-list-util-by:after {
    clear: both;
}

.qt-board-list-util-by:after, .qt-board-list-util-by:before {
    content: '';
    display: table;
}

.qt-board-list-util-by {
    margin: 23px 0 15px 0;
    text-align: right;
    height: 39px;
}

.qt-table-wrap-by {
    position: relative;
    border-top: 1px solid #555;
}

.qt-board-list-by {
    line-height: 1.3;
}

table {
    width: 100%;
    margin: 0;
    border: 0;
    table-layout: fixed;
    border-collapse: collapse;
    empty-cells: show;
}

table caption {
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    opacity: 0;
}

colgroup {
    display: table-column-group;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

caption {
    display: table-caption;
    text-align: -webkit-center;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.qt-board-list-by>thead>tr>th {
    height: 45px;
    padding: 3px 10px;
    color: #222;
    border: 1px solid #eaeaea;
    border-width: 0 0 1px 0;
    background-color: #f2f4f5;
}

table td, table th {
    padding: 0;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.qt-board-list-by>tbody>tr>td, .qt-board-list-by>tbody>tr>th {
    height: 45px;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-width: 0 0 1px 0;
    text-align: center;
}

.qt-board-list-by>tbody>tr>th {
    text-align: left;
    font-weight: 400;
}

.qt-area-by{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 36px;
    margin-top: 2px;

    border: 1px solid #d8d9db;
    border-radius: 3px;
    margin-right: 5px;
}


span{
    padding-left: 43px;
}

.qt-pagination-by{
    clear: both;
    position: relative;
    margin: 0 auto;
    padding: 30px 0 0 0;
    text-align: center;
}

article, aside, figcaption, figure, footer, header, main, nav, section {
    display: block;
}
.qt-pagination-by .qt-control-by, .qt-pagination-by a, .qt-pagination-by button, .qt-pagination-by strong {
    display: inline-block;
    position: relative;
    min-width: 32px;
    height: 32px;
    margin: 0;
    padding: 0 8px;
    border: 1px solid #ebebeb;
    text-decoration: none;
    line-height: 30px;
    color: #333;
    font-weight: 400;
    vertical-align: middle;
    border-radius: 4px;
}

.qt-pagination-by .qt-active-by{
    color: #fff;
    background-color: rgb(175, 45, 45);
    border-color: rgba(175, 45, 45, 1);
}

.qt-acolor-by {
    color: #fff!important;
}
.qt-acolor1-by{
    color: #666!important;
}

.qt-pagination-by .control.first {
        background-position: 0 0;

}

.qt-pagination-by .control.previous {
    margin-right: 5px;
    background-position: -32px 0;
}

.qt-pagination-by .control.next {
    margin-left: 5px;
    background-position: -64px 0;
}

.qt-pagination-by .control.last {
    background-position: right 0;
}

.qt-pagination-by .control {
    overflow: hidden;
    width: 32px;
    height: 32px;
    min-width: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    background: url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-paging.png) no-repeat 0 0;
}

.qt-pagination-by .control, .qt-pagination-by a, .qt-pagination-by strong {
    display: inline-block;
    position: relative;
    min-width: 32px;
    height: 32px;
    margin: 0;
    padding: 0 8px;
    border: 1px solid #ebebeb;
    text-decoration: none;
    line-height: 30px;
    color: #333;
    font-weight: 400;
    vertical-align: middle;
    border-radius: 4px;
}

.qt-pagination-by .qt-control-by, .qt-pagination-by a, .qt-pagination-by strong {
    display: inline-block;
    position: relative;
    min-width: 32px;
    height: 32px;
    margin: 0;
    padding: 0 8px;
    border: 1px solid #ebebeb;
    text-decoration: none;
    line-height: 30px;
    color: #333;
    font-weight: 400;
    vertical-align: middle;
    border-radius: 4px;
}

.qt-pagination-by a:hover, .qt-pagination-by button:hover{
    border: 2px solid #6D3030;
    color: #6D3030;
}

.qt-pagination-by strong:hover{
    border: 2px solid #6D3030;
    color: #6D3030;
}

.announcement-btn-number {
	border: 1px solid #EBEBEB;
    background-color: #ffffff;
    padding: 5px;
    width: 32px;
    height:32px;
    line-height: 14px;
    border-radius: 4px;
}