<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.opendata.department.model.mapper.DepartmentMapper">
   <resultMap id="departmentResultMap" type="Department">
      <id     property="no"       column="DEPARTMENT_NO"/>
      <result property="name"     column="DEPARTMENT_NAME"/>
      <result property="category" column="CATEGORY"/>
      <result property="openYn"   column="OPEN_YN"/>
      <result property="capacity" column="CAPACITY"/>
   </resultMap>
   
   <select id="selectAll" resultMap="departmentResultMap">
      SELECT DEPARTMENT_NO,
             DEPARTMENT_NAME,
             CATEGORY,
             OPEN_YN,
             CAPACITY
      FROM TB_DEPARTMENT
      ORDER BY DEPARTMENT_NAME ASC
   </select>
</mapper>