<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    id="WebApp_ID" version="4.0">
    <!-- 배포 서술자(Deployment Descriptor) - 웹 애플리케이션의 기본적인 설정을 위해 작성하는 파일이다. -->
    <display-name>01_Servlet</display-name>
    <!-- 클라이언트가 페이지의 이름을 등록했을때 기본페이지에 대한 -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.htm</welcome-file>
    </welcome-file-list>

    <!-- 서블릿 등록 및 URL 매핑 -->
    <servlet>
        <servlet-name>first</servlet-name>
        <servlet-class>com.kh.servlet.FirstServlet</servlet-class>
    </servlet>

    <!-- http://localhost:8080/01_Servlet/first.do http:// - 프로토콜 localhost:8080 
        서버에 대한 정보 01_Servlet - Context Path, Context Root first.do - 서블릿을 실행시키기 위한 
        주소 -->
    <servlet-mapping>
        <servlet-name>first</servlet-name>
        <url-pattern>/first.do</url-pattern>
    </servlet-mapping>    
    
    
  <error-page>
    <error-code>500</error-code>
    <location>/views/common/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/views/common/error404.jsp</location>
  </error-page>
</web-app>